<form>
  <input type='text' placeholder='Search' /><br />
</form>

<% @listings.each do |listing| %>
  <%= listing.start %>
  <%= listing.end %>
  <%= link_to 'Show', listing %>
  <%= link_to 'Edit', edit_listing_path(listing) %>
  <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<div id="map">
  <div></div>
</div>
