<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @listing.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @listing.end %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @listing.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @listing.latitude %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
