<!DOCTYPE html>

<html>
  <head>
    <title>Up Dog</title>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <link rel="stylesheet" href="/assets/application.css" />
  </head>
  <body>
    <nav>
      <%
        {
          'home' => nil,
          'search' => 'listings',
          'host' => 'listings/new',
          'profile' => 'profile',
          'messages' => 'messages',
          'friends' => 'friends',
          'settings' => 'settings'
        }.each do |name, link|
      %>
        <a
          href="<%= "/#{link}" %>"
          class="<%= 'selected' if /([^\d]+)(\/\d+)?$/.match(request.path)[1] == "/#{link}" %>"
        >
          <%= "#{name}" %>
        </a>
      <% end %>
      <% if @user %>
        <a href="logout">Logout</a>
        <div id="users-name">Hello <%= @user['name'] %></div>
      <% else %>
        <a href="/auth/facebook">Login <img src="https://www.teenytinywebsites.com/s/facebook_f_icon_50.png" /></a>
      <% end %>
    </nav>

    <header>
      <h1><a id='home' href="../">
        Up Dog<em>e</em></a>
        <button id='nav-toggle' title='wow'>&equiv;</button>
      </h1>
    </header>
    <%= yield %>
  </body>
</html>

<script src="/assets/application.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
